In [5]:
import pyodbc    
from dotenv import dotenv_values
import warnings 
warnings.filterwarnings('ignore')
from statsmodels.tools.sm_exceptions import ValueWarning

#libraries for handling data
import pandas as pd
import numpy as np 
import os

In [8]:
conn_str = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=dap-projects-database.database.windows.net;'
    r'DATABASE=dapDB;'
    r'UID=capstone;'
    r'PWD=Z7x@8pM$2w'
)
conn = pyodbc.connect(conn_str)

In [11]:
df = pd.read_csv("data/Sales_April_2019.csv")

In [18]:
df = pd.read_csv("data/Sales_August_2019.csv")

In [19]:
df = pd.read_csv("data/Sales_December_2019.csv")

In [24]:
df = pd.read_csv("data/Sales_January_2019.csv")

In [22]:

df = pd.read_csv("data/Sales_February_2019.csv")

In [25]:
df = pd.read_csv("data/Sales_july_2019.csv")

In [26]:
df = pd.read_csv("data/Sales_June_2019.csv")

In [27]:
df = pd.read_csv("data/Sales_march_2019.csv")

In [28]:
df = pd.read_csv("data/Sales_may_2019.csv")

In [29]:
df = pd.read_csv("data/Sales_November_2019.csv")

In [30]:
df = pd.read_csv("data/Sales_october_2019.csv")

In [31]:
df = pd.read_csv("data/Sales_september_2019.csv")

In [37]:
# List to hold DataFrames
dfs = []
 # Append DataFrame to the list
dfs.append(df)

# Concatenate all DataFrames into one
combined_df = pd.concat(dfs, ignore_index=True)

# Display the first few rows of the combined DataFrame
print("Combined DataFrame:")
print(combined_df.head())

Combined DataFrame:
   Order_ID                Product  Quantity_Ordered  Price_Each  \
0  248151.0  AA Batteries (4-pack)               4.0    3.840000
1  248152.0   USB-C Charging Cable               2.0   11.950000
2  248153.0   USB-C Charging Cable               1.0   11.950000
3  248154.0       27in FHD Monitor               1.0  149.990005
4  248155.0   USB-C Charging Cable               1.0   11.950000

                    Order_Date                       Purchase_Address
0  2017-09-19 14:44:00.0000000    380 North St, Los Angeles, CA 90001
1  2029-09-19 10:19:00.0000000           511 8th St, Austin, TX 73301
2  2016-09-19 17:48:00.0000000  151 Johnson St, Los Angeles, CA 90001
3  2027-09-19 07:52:00.0000000      355 Hickory St, Seattle, WA 98101
4  2001-09-19 19:03:00.0000000          125 5th St, Atlanta, GA 30301

In [41]:
combined_df.info

<bound method DataFrame.info of        Order_ID                 Product  Quantity_Ordered  Price_Each  \
0      248151.0   AA Batteries (4-pack)               4.0    3.840000
1      248152.0    USB-C Charging Cable               2.0   11.950000
2      248153.0    USB-C Charging Cable               1.0   11.950000
3      248154.0        27in FHD Monitor               1.0  149.990005
4      248155.0    USB-C Charging Cable               1.0   11.950000
...         ...                     ...               ...         ...
11681  259353.0  AAA Batteries (4-pack)               3.0    2.990000
11682  259354.0                  iPhone               1.0  700.000000
11683  259355.0                  iPhone               1.0  700.000000
11684  259356.0  34in Ultrawide Monitor               1.0  379.989990
11685  259357.0    USB-C Charging Cable               1.0   11.950000

                        Order_Date                         Purchase_Address
0      2017-09-19 14:44:00.0000000      380 North St, Los Angeles, CA 90001
1      2029-09-19 10:19:00.0000000             511 8th St, Austin, TX 73301
2      2016-09-19 17:48:00.0000000    151 Johnson St, Los Angeles, CA 90001
3      2027-09-19 07:52:00.0000000        355 Hickory St, Seattle, WA 98101
4      2001-09-19 19:03:00.0000000            125 5th St, Atlanta, GA 30301
...                            ...                                      ...
11681  2017-09-19 20:56:00.0000000   840 Highland St, Los Angeles, CA 90001
11682  2001-09-19 16:00:00.0000000  216 Dogwood St, San Francisco, CA 94016
11683  2023-09-19 07:39:00.0000000     220 12th St, San Francisco, CA 94016
11684  2019-09-19 17:30:00.0000000   511 Forest St, San Francisco, CA 94016
11685  2030-09-19 00:18:00.0000000   250 Meadow St, San Francisco, CA 94016

[11686 rows x 6 columns]>

In [42]:
combined_df.shape

(11686, 6)

In [43]:
combined_df.describe

<bound method NDFrame.describe of        Order_ID                 Product  Quantity_Ordered  Price_Each  \
0      248151.0   AA Batteries (4-pack)               4.0    3.840000
1      248152.0    USB-C Charging Cable               2.0   11.950000
2      248153.0    USB-C Charging Cable               1.0   11.950000
3      248154.0        27in FHD Monitor               1.0  149.990005
4      248155.0    USB-C Charging Cable               1.0   11.950000
...         ...                     ...               ...         ...
11681  259353.0  AAA Batteries (4-pack)               3.0    2.990000
11682  259354.0                  iPhone               1.0  700.000000
11683  259355.0                  iPhone               1.0  700.000000
11684  259356.0  34in Ultrawide Monitor               1.0  379.989990
11685  259357.0    USB-C Charging Cable               1.0   11.950000

                        Order_Date                         Purchase_Address
0      2017-09-19 14:44:00.0000000      380 North St, Los Angeles, CA 90001
1      2029-09-19 10:19:00.0000000             511 8th St, Austin, TX 73301
2      2016-09-19 17:48:00.0000000    151 Johnson St, Los Angeles, CA 90001
3      2027-09-19 07:52:00.0000000        355 Hickory St, Seattle, WA 98101
4      2001-09-19 19:03:00.0000000            125 5th St, Atlanta, GA 30301
...                            ...                                      ...
11681  2017-09-19 20:56:00.0000000   840 Highland St, Los Angeles, CA 90001
11682  2001-09-19 16:00:00.0000000  216 Dogwood St, San Francisco, CA 94016
11683  2023-09-19 07:39:00.0000000     220 12th St, San Francisco, CA 94016
11684  2019-09-19 17:30:00.0000000   511 Forest St, San Francisco, CA 94016
11685  2030-09-19 00:18:00.0000000   250 Meadow St, San Francisco, CA 94016

[11686 rows x 6 columns]>

In [44]:
#Display number of missing values in each column
(combined_df.isnull().sum())

Order_ID            57
Product             40
Quantity_Ordered    57
Price_Each          57
Order_Date          57
Purchase_Address    40
dtype: int64

In [6]:
# Create a cursor object
cursor = connection.cursor()

# Query to get all table names in the database 
cursor.execute("""
    SELECT TABLE_NAME
    FROM INFORMATION_SCHEMA.TABLES
    WHERE TABLE_TYPE = 'BASE TABLE'
""")
tables = cursor.fetchall()

# Iterate through each table
for table in tables:
    table_name = table[0]
    print(f"Processing table: {table_name}")

    # Query to fetch all data from the table
    query = f"SELECT * FROM {table_name}"
    df = pd.read_sql(query, connection)

    # Save the data to a CSV file
    csv_file = f"{table_name}.csv"
    df.to_csv(csv_file, index=False)
    print(f"Table {table_name} saved as {csv_file}")

Processing table: Sales_July_2019
Table Sales_July_2019 saved as Sales_July_2019.csv
Processing table: Sales_August_2019
Table Sales_August_2019 saved as Sales_August_2019.csv
Processing table: Sales_September_2019
Table Sales_September_2019 saved as Sales_September_2019.csv
Processing table: Sales_October_2019
Table Sales_October_2019 saved as Sales_October_2019.csv
Processing table: Sales_November_2019
Table Sales_November_2019 saved as Sales_November_2019.csv
Processing table: Sales_December_2019
Table Sales_December_2019 saved as Sales_December_2019.csv

In [1]:

# Directory where your CSV files are saved
directory = r"C:\Users\DELL\OneDrive\Capstone_Project\data"  # Change this to your actual directory

# Iterate through all files in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Full file path
        file_path = os.path.join(directory, filename)
        
        # Load the CSV file into a DataFrame
        df = pd.read_csv(file_path)
        
        # Get the number of rows and columns
        rows, columns = df.shape
        
        # Print the results
        print(f"File: {filename}, Rows: {rows}, Columns: {columns}")

NameError: name 'os' is not defined